@media screen and (max-width: 600px) {
	#header {
		z-index: 1;
		width: 200px;
		height: auto;
		position: absolute;
		transform: translate(-9999px, 0);
		transition: transform 1s ease;
		background: $darkpurple;

		&.open {
			transform: translate(0, 0);
			transition: transform 0.3s ease;
		}

		#logo {
			display: none;
		}

		nav {
			margin: 0 auto;
			a {
				display: list-item;
		    min-width: 170px;
				padding: 20px 0 20px 20px;
				background: $pink;
				border-radius: 5px;
		    font-weight: 700;
		    text-align: left;
		    list-style: none;

		    &:nth-last-child(1) {
					padding: 20px 25px;
				}
			}
		}
	}

	#content-area {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;

		#filter {
			height: 900px;

			.container {
				label {
					display: block;
					margin-top: 20px;
					font-size: 18px;
				}

				select {
					width: 100%;
					background: transparent;
					padding: 10px;
					font-size: 18px;
					font-weight: 300;

				}

				input[type="text"],
				input[type="number"] {
					width: 115px;
					margin-right: 15px;
					margin-top: 15px;
					padding: 5px;
					border-radius: 5px;
					outline: none;
					font-size: 18px;
				}

				input[type="checkbox"] {
					float: right;
					vertical-align: top;
					width: 25px;
					height: 25px;
				}

				.reset {
					width: 160px;
					height: 45px;
					display: inline-block;
					margin: 20px 0 0 60px;
					border-radius: 5px;
					border: none;
					outline: none;
					background: $darkpurple;
					color: white;
					font-size: 18px;

					&:hover {
						background: $pink;
						font-weight: 700;
						cursor: pointer;
					}
				}
			}

			.menu {
				float: right;
				padding: 1.2em;
				font-size: 24px;
				display: inline-block;
			}
		}

		#listings {
			#search {
				display: none;
			}
			.listings-header {
				display: none;
			}
			#listings-area {
				display: grid;
				grid-template-columns: 100%;

				&.large-view {
					grid-template-columns: 100%;
				}
			}
		}
	}

	.popup {
		width: 100%;
		height: 100%;

		.popup-container {
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-columns: 100%;
			background: $lightgrey;
		}

		.details,
		.amenities {
			margin: 15px 0 0 0;
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
	#content-area {
		display: grid;
		grid-template-columns: 30% 70%;

		#listings {
			#listings-area {
				display: grid;
				grid-gap: 15px 15px;
				grid-template-columns: 45% 45%;

				&.large-view {
					display: grid;
					grid-gap: 15px 15px;
					grid-template-columns: 45% 45%;
				}
			}
		}
	}

	.popup {
		width: 100%;
		height: 100vh;

		.popup-container {
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-columns: 100%;
			background: $lightgrey;
		}

		.details,
		.amenities {
			height: 100%;
			margin: 15px 0 0 0;
		}
	}
}

@media screen and (max-height: 650px) {
	.popup {
		width: 100%;
		height: 100%;

		.popup-container {
			width: 100%;
			height: auto;
			display: grid;
			grid-template-columns: 100%;
			background: $lightgrey;
		}

		.details,
		.amenities {
			margin: 15px 0 0 0;
		}
	}
}

@media screen and (max-width: 850px) {
	.popup {
		width: 100%;

		.popup-container {
			width: 100%;

			.listing {
				font-size: 1rem;

				.buttons {

					button {
						width: 75px;
						height: 30px;
						margin-right: 20px;
						margin-bottom: 10px;
						padding: 5px;
					}
				}
			}

			.about {
				width: 100%;
				margin: 0;
				padding: 20px;
			}
		}

		.form-container {
			width: 100%;

			.listing-form {
				display: grid;
				justify-items: center;
				width: 100%;
				border-radius: 5px;
				background: $offwhite;
			}
		}
	}
}



