@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
html,
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

#header {
  background: #0c002b;
  width: 100%;
  height: 55px;
  color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center; }
  #header #logo {
    margin: 15px; }
  #header nav {
    justify-self: end;
    font-weight: 300;
    font-size: .9rem; }
    #header nav a {
      color: white;
      text-decoration: none;
      margin: 15px; }
      #header nav a:hover {
        color: #ff718e; }
      #header nav a:nth-last-child(1) {
        background: #ff718e;
        padding: 7px 25px;
        border-radius: 5px; }
        #header nav a:nth-last-child(1):hover {
          color: white;
          font-weight: 500;
          background: rgba(255, 113, 142, 0.95); }

#content-area {
  display: grid;
  grid-template-columns: 20% 80%; }
  #content-area #filter {
    background: #faf7f5;
    height: 800px; }
    #content-area #filter .menu {
      display: none; }
    #content-area #filter .container {
      width: 100%;
      padding: 20px; }
      #content-area #filter .container h5 {
        margin-top: 25px;
        font-size: 0.9rem;
        color: #828d9d; }
      #content-area #filter .container label {
        display: block;
        margin-top: 20px;
        font-size: 1rem; }
      #content-area #filter .container select {
        width: 100%;
        background: transparent;
        padding: 10px;
        font-size: 0.9rem;
        font-weight: 300; }
      #content-area #filter .container input[type="text"],
      #content-area #filter .container input[type="number"] {
        width: 115px;
        margin-right: 15px;
        margin-top: 15px;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        font-size: 1rem; }
      #content-area #filter .container input[type="checkbox"] {
        float: right;
        vertical-align: top; }
      #content-area #filter .container .reset {
        width: 120px;
        height: 35px;
        display: inline-block;
        margin: 20px 0 0 60px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #0c002b;
        color: white;
        font-size: 1rem; }
        #content-area #filter .container .reset:hover {
          background: #ff718e;
          font-weight: 700;
          cursor: pointer; }
  #content-area #listings {
    background: #fffeff;
    width: 100%; }
    #content-area #listings #search {
      width: 70%;
      margin: 15px;
      padding: 0 5px 5px 0;
      border: none;
      border-bottom: 1px solid #dadde2;
      outline: none;
      background: transparent;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 100;
      color: #828d9d; }
    #content-area #listings .listings-header {
      width: 100%;
      margin: 5px 0 0 0;
      display: grid;
      grid-template-columns: 20% 80%; }
      #content-area #listings .listings-header .results {
        margin: 5px 0 0 15px;
        font-size: 0.8rem;
        color: #828d9d; }
      #content-area #listings .listings-header .sort-view {
        justify-self: end; }
        #content-area #listings .listings-header .sort-view .sort {
          margin-right: 20px;
          vertical-align: top;
          font-weight: 300;
          font-size: 0.9rem; }
        #content-area #listings .listings-header .sort-view .view {
          display: inline-block;
          margin-right: 20px;
          font-size: 1.5rem; }
          #content-area #listings .listings-header .sort-view .view i {
            margin-right: 15px; }
            #content-area #listings .listings-header .sort-view .view i:hover {
              cursor: pointer; }
    #content-area #listings #listings-area {
      margin-top: 50px;
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 20% 20% 20% 20%;
      justify-content: space-evenly;
      grid-row-gap: 5rem; }
      #content-area #listings #listings-area.large-view {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
        grid-row-gap: 5rem;
        grid-column-gap: 2rem; }
      #content-area #listings #listings-area .listing-thumbnail {
        background: #fff;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 55px -5px rgba(224, 224, 224, 0.8);
        -moz-box-shadow: 0px 10px 55px -5px rgba(224, 224, 224, 0.8);
        box-shadow: 0px 10px 55px -5px #e0e0e0; }
        #content-area #listings #listings-area .listing-thumbnail .image {
          position: relative;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          color: white;
          height: 200px;
          padding: 15px;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
          #content-area #listings #listings-area .listing-thumbnail .image:hover .address {
            opacity: 0; }
          #content-area #listings #listings-area .listing-thumbnail .image:hover .details {
            opacity: .9; }
          #content-area #listings #listings-area .listing-thumbnail .image .address {
            opacity: 1;
            position: absolute;
            bottom: 20px;
            font-size: 1.2rem; }
          #content-area #listings #listings-area .listing-thumbnail .image .details {
            display: grid;
            align-content: end;
            justify-content: center;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background: #ff718e;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5c27c6+0,cc81ea+100 */
            background: #5c27c6;
            /* Old browsers */
            background: -moz-linear-gradient(left, #5c27c6 0%, #cc81ea 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #5c27c6 0%, #cc81ea 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #5c27c6 0%, #cc81ea 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c27c6', endColorstr='#cc81ea',GradientType=1 );
            /* IE6-9 */
            transition: all 0.2s; }
            #content-area #listings #listings-area .listing-thumbnail .image .details .space-details,
            #content-area #listings #listings-area .listing-thumbnail .image .details .bedroom-details {
              margin-bottom: 15px; }
            #content-area #listings #listings-area .listing-thumbnail .image .details .view-listings {
              width: 120px;
              height: 30px;
              margin-bottom: 20px;
              padding-top: 6px;
              border-radius: 5px;
              background: #0c002b;
              text-align: center;
              transition: all .2s; }
              #content-area #listings #listings-area .listing-thumbnail .image .details .view-listings:hover {
                background: #ff718e;
                cursor: pointer; }
        #content-area #listings #listings-area .listing-thumbnail .info {
          height: 100px; }
          #content-area #listings #listings-area .listing-thumbnail .info .price {
            margin: 10px;
            color: #828d9d; }
          #content-area #listings #listings-area .listing-thumbnail .info .location {
            margin-left: 10px;
            color: #dadde2;
            font-size: 1.2rem; }
    #content-area #listings #pagination {
      text-align: center;
      margin: 20px; }
      #content-area #listings #pagination .pages {
        -webkit-box-shadow: 0px 10px 55px -5px rgba(224, 224, 224, 0.8);
        -moz-box-shadow: 0px 10px 55px -5px rgba(224, 224, 224, 0.8);
        box-shadow: 0px 10px 55px -5px #e0e0e0;
        display: inline-block; }
        #content-area #listings #pagination .pages li {
          display: inline-block;
          background: #fff;
          padding: 20px 30px; }
          #content-area #listings #pagination .pages li.active, #content-area #listings #pagination .pages li:hover {
            background: #ff718e;
            color: white;
            font-weight: 700;
            cursor: pointer; }

#content-area > div:nth-child(even) {
  background: grey; }

.popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll; }
  .popup .form-container {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 20px; }
    .popup .form-container .listing-form {
      display: grid;
      justify-items: center;
      width: 450px;
      padding: 20px 60px 60px 60px;
      border-radius: 5px;
      background: #fffeff; }
      .popup .form-container .listing-form h1 {
        padding: 15px;
        font-size: 1.4rem;
        justify-self: center;
        text-align: center; }
      .popup .form-container .listing-form h2 {
        margin: 10px; }
      .popup .form-container .listing-form input[type="text"],
      .popup .form-container .listing-form input[type="number"],
      .popup .form-container .listing-form select {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 4px;
        border: 1px solid #828d9d;
        outline: none;
        font-size: .9rem;
        font-weight: 300; }
        .popup .form-container .listing-form input[type="text"]:focus,
        .popup .form-container .listing-form input[type="number"]:focus,
        .popup .form-container .listing-form select:focus {
          -webkit-box-shadow: 0px 0px 10px -2px #0c002b;
          -moz-box-shadow: 0px 0px 10px -2px #0c002b;
          box-shadow: 0px 0px 10px -2px #0c002b; }
      .popup .form-container .listing-form label {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 400; }
      .popup .form-container .listing-form input[type="checkbox"] {
        float: right;
        vertical-align: top; }
      .popup .form-container .listing-form button {
        display: block;
        width: 100%;
        margin-top: 15px;
        padding: 5px;
        border-radius: 4px;
        border: none;
        font-size: 1.1rem;
        color: white;
        background: #0c002b; }
        .popup .form-container .listing-form button:hover {
          background: #ff718e;
          font-weight: 700;
          cursor: pointer; }
  .popup .popup-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    background: #faf7f5; }
    .popup .popup-container .listing {
      width: 100%;
      height: 500px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 10px 55px -5px rgba(224, 224, 224, 0.8);
      -moz-box-shadow: 0px 10px 55px -5px rgba(224, 224, 224, 0.8);
      box-shadow: 0px 10px 55px -5px #e0e0e0;
      font-size: 1.2rem;
      font-weight: 300; }
      .popup .popup-container .listing .image {
        width: 100%;
        height: 80%; }
      .popup .popup-container .listing .address {
        float: left;
        margin: 15px; }
        .popup .popup-container .listing .address .city {
          margin-left: 15px;
          margin-top: 5px; }
      .popup .popup-container .listing .price {
        float: right;
        margin: 15px; }
      .popup .popup-container .listing .buttons {
        display: block;
        clear: both; }
        .popup .popup-container .listing .buttons button {
          width: 120px;
          height: 35px;
          border-radius: 5px;
          border: none;
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
          color: white; }
          .popup .popup-container .listing .buttons button.edit {
            margin-left: 10px;
            background: orange; }
          .popup .popup-container .listing .buttons button.delete {
            background: red; }
          .popup .popup-container .listing .buttons button.close {
            float: right;
            background: #0c002b; }
          .popup .popup-container .listing .buttons button:hover {
            cursor: pointer;
            font-weight: 700;
            opacity: 0.8; }
    .popup .popup-container .about {
      margin-left: 100px;
      margin-top: 50px;
      width: auto;
      padding: 30px;
      color: #828d9d;
      font-weight: 300; }
      .popup .popup-container .about p {
        width: 400px;
        margin: 15px;
        font-size: 1.5rem; }
      .popup .popup-container .about a {
        display: block;
        margin: 15px;
        font-size: 1.5rem; }
        .popup .popup-container .about a:visited {
          color: #828d9d; }
      .popup .popup-container .about button {
        margin: 15px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background: #0c002b;
        color: white;
        font-size: 1.2rem;
        font-weight: 300; }
        .popup .popup-container .about button:hover {
          background: #ff718e;
          font-weight: 500;
          cursor: pointer; }

@media screen and (max-width: 600px) {
  #header {
    z-index: 1;
    width: 185px;
    height: auto;
    padding-left: 150px;
    position: absolute;
    transform: translate(-9999px, 0);
    transition: transform 1s ease;
    background: #0c002b; }
    #header.open {
      transform: translate(0, 0);
      transition: transform 0.3s ease; }
    #header #logo {
      display: none; }
    #header nav a {
      display: list-item;
      width: 100%;
      padding: 20px 25px;
      margin-right: 30px;
      background: #ff718e;
      border-radius: 5px;
      font-weight: 700;
      text-align: left;
      list-style: none; }
      #header nav a:nth-last-child(1) {
        padding: 20px 25px; }
  #content-area {
    width: 100%;
    display: grid;
    grid-template-columns: 100%; }
    #content-area #filter {
      height: 900px; }
      #content-area #filter .container label {
        display: block;
        margin-top: 20px;
        font-size: 18px; }
      #content-area #filter .container select {
        width: 100%;
        background: transparent;
        padding: 10px;
        font-size: 18px;
        font-weight: 300; }
      #content-area #filter .container input[type="text"],
      #content-area #filter .container input[type="number"] {
        width: 115px;
        margin-right: 15px;
        margin-top: 15px;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        font-size: 18px; }
      #content-area #filter .container input[type="checkbox"] {
        float: right;
        vertical-align: top;
        width: 25px;
        height: 25px; }
      #content-area #filter .container .reset {
        width: 120px;
        height: 35px;
        display: inline-block;
        margin: 20px 0 0 60px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #0c002b;
        color: white;
        font-size: 18px; }
        #content-area #filter .container .reset:hover {
          background: #ff718e;
          font-weight: 700;
          cursor: pointer; }
      #content-area #filter .menu {
        float: right;
        padding: 1.2em;
        font-size: 24px;
        display: inline-block; }
    #content-area #listings #search {
      display: none; }
    #content-area #listings .listings-header {
      display: none; }
    #content-area #listings #listings-area {
      display: grid;
      grid-template-columns: 100%; }
      #content-area #listings #listings-area.large-view {
        grid-template-columns: 100%; } }

@media screen and (min-width: 601px) and (max-width: 1100px) {
  #content-area {
    display: grid;
    grid-template-columns: 30% 70%; }
    #content-area #listings #listings-area {
      display: grid;
      grid-gap: 15px 15px;
      grid-template-columns: 45% 45%; }
      #content-area #listings #listings-area.large-view {
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: 45% 45%; } }
